html,
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
}

/*.Signature {
  position: absolute;
  z-index: 100;
  bottom: 20px;
  right: 20px;
  color: white;
  line-height: .2;
  font-size: .7em;
  font-family: Open Sans, sans-serif;
}*/

#analyser_render {
    z-index: 1;
    position: absolute;

}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 40px;
  font-weight: bold;
  
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}